.botao{
  background-color: #6278f7;
  border-radius: 0.6rem;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 2rem;
  border: none;
  cursor: pointer;
  color: #FFF;
  margin: 2rem 0;
}

.botao:hover{
  color: #95ffd4;
}